$themeColor: rgba(152, 57, 255, .5);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

header{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    section.logo{
        flex: 2 1 400px;
        // border: 2px solid green;
        // 先加border以更了解排版狀況，設定完成再拿掉
        display: flex;
        align-items: center;

        h1{
            font-size: 2.5rem;
        }

        img{
            width: 6vw;
            height: 6vw;
        }
    }

    nav{
        flex: 5 1 500px;
        //border: 2px solid red;
        ul{
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            li{
                a{
                    color: black;
                    text-decoration: none;
                    font-size: 1.35rem;
                    transition: all .2s ease;
                    padding-bottom: .3rem;
                    &:hover{
                        color: $themeColor;
                        border-bottom: 3px solid $themeColor;
                    }
                }
            }
        }
    }
}

main{
    section.background-img{
        min-height: 70vh;
        background-image: url("../images/日本櫻花.jpg");
        background-size: cover;
        background-position: center;
        transition: all .75s ease;
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filter{
        background-color: rgba(0,0,0,.5);
        width: 100%;
        min-height: 70vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    h3{
        color: white;
        font-size: 2.5rem;
        z-index: -1;
    }
}